
blockquote {
	background-color: rgba(0, 0, 0, .12);
	padding: 8px;
}

a {
	color: darkred;
	text-decoration: none;
}

p:first-of-type::first-letter{
    float: left;
    color: darkred;
    border: 3px ridge darkgoldenrod;
    padding: 16px;
    background-color: gold;
    margin: 8px;
}

blockquote::before, blockquote::after{
    content: "'";
}

a:hover{
    color: blue;
    text-decoration: underline;
    text-decoration-color: yellow;
}

a:visited{
    color: lime;
}