body{
    margin: 0;
    background-color: #fafbff;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:max-content;
    grid-template-areas:
    "navbar navbar navbar aside"
    "article article article aside"
    "footer footer footer aside";
}

/*Estilos para el movil*/
@media (max-width: 990px){
    body{
        grid-template-areas:
        "navbar navbar navbar navbar"
        "article article article article"
        "footer footer footer footer"
        "aside aside aside aside"
        ;
    }
    article img{
        width: 100%; 
    }
    aside{
        padding-top: 16px;
        padding-bottom: 32px;
    }
}


/*Estilos de la navbar*/
.navbar{
    background-color: #234567;
    grid-area: navbar;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 2ch;
}
.navbar a{
    text-decoration: none;
    color: inherit;
    transition: 300ms;
}
.navbar a:hover{
    color: #ff784d;
}

/*Estilos del aside*/
aside{
    background-color: #edefff;
    width: calc(100vw/4);
    grid-area: aside;
}
aside img{
    width: 100%;
    height: auto;
    object-fit: fill;
}

/*Estilos del Article*/
article{
    grid-area: article;
    padding: 8px 16px; 
    width: inherit;    
}
article img{
    min-height: 300px;
}


/*Estilos del footer*/
footer{
    padding: 8px 16px;
    grid-area: footer;
    background-color: #012345;
    max-height: fit-content;
    max-width: inherit;
}
footer form{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 2ch;
    align-items: center;
}
footer form button{
    background-color: #ff784d;
    color: white;
    transition: 400ms;
}
footer form button:hover{
    background-color: white;
    color: #ff784d;
}